<div data-controller="modal">
  <nav class="navbar navbar-light bg-light justify-content-between px-4">
    <a class="navbar-brand">Delivery Scheduler 📦</a>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#newDeliveryModal">
      New delivery
    </button>
  </nav>

  <div class="container mt-2">
    <h2>View all the scheduled deliveries</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Pickup Address</th>
          <th scope="col">Delivery Address</th>
          <th scope="col">Weight</th>
          <th scope="col">Distance</th>
          <th scope="col">Scheduled time</th>
          <th scope="col">Cost</th>
        </tr>
      </thead>
      <tbody>
        <% @deliveries.each do |delivery| %>
          <tr>
            <th scope="row"><%= delivery.id %></th>
            <td><%= delivery.pickup_address %></td>
            <td><%= delivery.delivery_address %></td>
            <td><%= delivery.weight %> kg</td>
            <td><%= delivery.distance %> km</td>
            <td><%= delivery.scheduled_time.strftime("%B %d, %Y %I:%M %p") %></td>
            <td><%= number_to_currency(delivery.cost) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="text-end"><strong>Total cost:</strong></td>
          <td><%= number_to_currency(@total_cost) %></td>
        </tr>
      </tfoot>
    </table>

    <div class="modal fade" id="newDeliveryModal" tabindex="-1" aria-labelledby="newDeliveryModalLabel" aria-hidden="true" data-modal-target="modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newDeliveryModalLabel">New Delivery</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for @delivery do |f| %>
              <%= f.input :pickup_address, input_html: { data: { modal_target: "field", action: "input->modal#checkFields" } } %>
              <%= f.input :delivery_address, input_html: { data: { modal_target: "field", action: "input->modal#checkFields" } } %>
              <%= f.input :weight, label: "Weight (kg)", input_html: { data: { modal_target: "field", action: "input->modal#checkFields" } } %>
              <%= f.input :distance, label: "Distance (km)", input_html: { data: { modal_target: "field", action: "input->modal#checkFields" } } %>
              <%= f.input :scheduled_time, as: :string, input_html: { data: { controller: "datepicker", modal_target: "field", action: "input->modal#checkFields" } } %>
              <%= f.submit "Add delivery", class: "btn btn-primary", data: { modal_target: "submit" } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
